#root {
    margin: auto;
}

body {
    min-height: 100%;
}

#offlineview {
    margin-top: 2%;
}

* {
    box-sizing: border-box;
}

#removewidth {
    border-radius: 5%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.9), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}